<h1><%= @robot.name %></h1>
<h2><%= @robot.avatar %></h2>


<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Birthday</th>
    <th>Date Hired</th>
    <th>Department</th>
  </tr>
  <tr>
    <td><%= @robot.city %></td>
    <td><%= @robot.state %></td>
    <td><%= @robot.birthday %></td>
    <td><%= @robot.date_hired %></td>
    <td><%= @robot.department %></td>
  </tr>
</table>

<br>
<a href="/robots">Go Back</a>
